.AffiliationsRow {
    display: flex;
    flex-direction: row;
}

.AffiliationsCol {
    flex: 1 1 0px;
}

.AffiliationsCol+.AffiliationsCol {
    margin-left: 10px;
}

.AffiliationsCol:nth-child(1) {}

.AffiliationsCol:nth-child(2) {}

.AffiliationsCol:nth-child(3) {
    flex: 0 0 6em;
}

.AffiliationsCol:nth-child(4) {
    flex: 0 0 6em;
}

.AffiliationsCol:nth-child(5) {
    flex: 0 0 1em;
}