.ButtonBar {
    display: flex;
    flex-direction: row;
}

.ButtonBar-button {
    flex: 0 0 auto;
}

.ButtonBar-text {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}