.fake-tab {
    position: relative;
    right: calc(-100% + 385px);
    width: 385px;
    z-index: 5;
}

.search-on-a-tab {
    white-space: nowrap;
}

.card-with-height .ant-card-body {
    height: 200px;
    overflow: auto;
}


.ant-tabs-nav-wrap .ant-tabs-nav-scroll .ant-tabs-nav {
    width: 100% !important;
}

.margin-top-10px {
    margin-top: 10px !important;
}

.margin-bottom-24px {
    margin-bottom: 24px !important;
}


/* this is to get rid of : after form item label */
.profile-input-form>.ant-form-item-label>label::after {
    /* content: none !important; */
}

/* .affiliation-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


.ant-select-show-arrow.clear-disabled.ant-select.ant-select-enabled {
    width: 100%;
}

/* this forces Organization AutoComplete input field to 100% in 
 AfflicationForm */
.profile-input-form>.ant-form-item-control-wrapper>.ant-form-item-control {
    width: 100% !important;
    background-color: white;
    cursor: pointer;
}

.profile-input-form>.ant-form-item-control-wrapper>.ant-form-item-control>span>.ant-select-disabled .ant-select-selection {
    background: white !important;
    cursor: pointer;
}

.clear-disabled>.ant-select-auto-complete.ant-select>.ant-input-disabled {
    color: rgba(0, 0, 0, .65) !important;
    background-color: white;
    cursor: pointer;
}

.clear-disabled.ant-select-disabled {
    color: rgba(0, 0, 0, .65) !important;
    background-color: white;
    cursor: pointer;
}

.clear-disabled>.ant-input-disabled {
    color: rgba(0, 0, 0, .65) !important;
    background-color: white;
    cursor: pointer;
}

.clear-disabled.ant-select-auto-complete.ant-select .ant-input-disabled {
    color: rgba(0, 0, 0, .65) !important;
    background-color: white;
    cursor: pointer;
}


.ButtonBar {
    display: flex;
    flex-direction: row;
}

.ButtonBar-button {
    flex: 0 0 auto;
}

.ButtonBar-text {
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}



.LayoutTable {
    width: 100%;
    border-collapse: collapse;
}

.LayoutTable th,
.LayoutTable td {
    text-align: left;
    padding: 4px;
    vertical-align: top;
}

.LayoutTable th {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
    border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}

.LayoutTable td {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}


.LayoutTable tr:last-child>td {
    /* border-bottom: 1px solid rgba(100, 100, 100, 0.5); */
    border-bottom: none;
}



.PropertyTable {
    border-collapse: collapse;
}

.PropertyTable th,
.PropertyTable td {
    text-align: left;
    padding: 4px;
    vertical-align: top;
}

.PropertyTable th {
    color: rgba(0, 0, 0, 0.3);
    font-style: italic;
}

.PropertyTable.-row-borders th {
    border-bottom: 1px solid rgba(200, 200, 200, 0.5);
}

.PrettyList {
    list-style: none;
    list-style: disc;
    margin: 0;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
}

.PrettyList li {}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}


.Col {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}