
.search-on-a-tab {
  color: rgba(0, 0, 0, 0.65);
  position: absolute;
  right: -76vw;
  margin-top: -8px;
}

/* input.ant-input.clear-disabled {
  cursor: text !important;
} */

.profile-tabs {
  margin: 0 0.5em;
}

.marginTop10px {
    margin-top: 10px !important;
}

.margin-bottom-24px {
    margin-bottom: 24px !important;
}

#root {
    overflow: auto;
}

/* this is to get rid of : after form item lable */
.profile-input-form > 
.ant-form-item-label > 
label::after {
    content: none !important;
}


.affiliation-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* this forces Organization AutoComplete input field to 100% in 
 AfflicationForm */
.profile-input-form > 
.ant-form-item-control-wrapper > 
.ant-form-item-control {
    width: 100% !important;
}
 
.profile-input-form > 
.ant-form-item-control-wrapper > 
.ant-form-item-control > span > 
.ant-select-disabled
.ant-select-selection
{
    background: white !important;
}

.clear-disabled >
.ant-select-auto-complete.ant-select >
.ant-input-disabled {
    color: rgba(0,0,0,.65) !important;
}

.clear-disabled
.ant-select-selection {
    background: white !important;
    color: rgba(0,0,0,.65) !important;
}

.clear-disabled.ant-select-disabled {
    color: rgba(0,0,0,.65) !important;
}

.clear-disabled >
.ant-input-disabled {
    color: rgba(0,0,0,.65) !important;
}
.clear-disabled.ant-select-auto-complete.ant-select 
.ant-input-disabled {
    color: rgba(0,0,0,.65) !important;
}