
.search-on-a-tab {
  color: rgba(0, 0, 0, 0.65);
  position: absolute;
  right: -76vw;
  margin-top: -8px;
}

.clear-disabled
.clear-disabled[disabled] {
  color:rgba(0, 0, 0, 0.65) !important;
  background-color: white !important;
  border: 1px !important;
  cursor: text !important;
}

.profile-tabs {
  margin: 0 0.5em;
}


input.ant-input {
    border: 0px !important;
}

.marginTop10px {
    margin-top: 10px !important;
}

.margin-bottom-24px {
    margin-bottom: 24px !important;
}

#root {
    overflow: auto;
}

.profile-input-form > 
.ant-form-item-label > 
label::after {
    content: none !important;
}

.affiliation-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-input-form > 
.ant-form-item-control-wrapper > 
.ant-form-item-control {
    width: 100% !important;
}
 
.profile-input-form > 
.ant-form-item-control-wrapper > 
.ant-form-item-control > span > 
.ant-select-disabled
.ant-select-selection
 {
    background: white !important;
}

.clear-disabled >
.ant-select-selection > 
.ant-select-selection__rendered > 
ul >
li > 
div > 
.ant-input[disabled] {
    color: rgba(0,0,0,.65) !important;
}

.clear-disabled
.ant-select-selection {
    background: white !important;
    color: rgba(0,0,0,.65) !important;
}