
.card-with-height {
  height: 245px;
  overflow: auto;
}
.search-on-a-tab {
  color: rgba(0, 0, 0, 0.65);
  position: absolute;
  right: -76vw;
  margin-top: -8px;
}
.edit-button-on-title {
  float: right;
  border: 0px !important;
}
.save-button-on-title {
  float: right;
  border: 0px !important;
}
.clear-disabled
.clear-disabled[disabled] {
  color:rgba(0, 0, 0, 0.65) !important;
  background-color: white !important;
  border: 1px !important;
  cursor: text !important;
}

.profile-tabs {
  margin: 0 0.5em;
}

/* overwrite <List.Item> style */
.profile-list {
    list-style: inside !important;
    list-style-type: disc !important;
    padding: 0px !important;
    display: list-item !important;
    border-bottom: 0px !important;
}

input.ant-input {
    border: 0px !important;

    /* border-top: 0px !important;
    border-right: 0px !important;
    border-left: 0px !important;
    border-radius: 0px !important; */
}

.margin10px {
    margin: 10px !important;
}

.marginTop10px {
    margin-top: 10px !important;
}

.margin-bottom-24px {
    margin-bottom: 24px !important;
}

#root {
    overflow: auto;
}
.profile-input-form > .ant-form-item-label > label::after {
    content: none !important;
}

.affiliations {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-input-form > 
.ant-form-item-control-wrapper > 
.ant-form-item-control {
    width: 100% !important;
}
 
.profile-input-form > 
.ant-form-item-control-wrapper > 
.ant-form-item-control > span > 
.ant-select-disabled
.ant-select-selection
 {
    background: white !important;
}

.clear-disabled >
.ant-select-selection > 
.ant-select-selection__rendered > 
ul >
li > 
div > 
.ant-input[disabled] {
    color: rgba(0,0,0,.65) !important;
}

.clear-disabled
.ant-select-selection {
    background: white !important;
    color: rgba(0,0,0,.65) !important;
}